<nav
    hx-target="#main"
    hx-swap="outerHTML"
    hx-push-url="true"
    class="border-b border-gray-200 bg-white"
>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
            <div class="flex">
                <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                    <a
                        hx-get="/"
                        href="/"
                        class="{% if request.path == '/' %}border-b-2{% endif %} inline-flex items-center border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
                        >Inicio</a
                    >
                    <a
                        hx-get="/accounts"
                        href="/accounts"
                        class="{% if '/accounts' in request.path %}border-b-2{% endif %} inline-flex items-center border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
                        >Cuentas</a
                    >
                    <a
                        hx-get="/transactions"
                        href="/transactions"
                        class="{% if request.path == '/transactions' %}border-b-2{% endif %} inline-flex items-center border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
                        >Transacciones</a
                    >
                    <!--<a
                        hx-get="/deudas"
                        href="/deudas"
                        class="{% if request.path == '/deudas' %}border-b-2{% endif %} inline-flex items-center border-indigo-500 px-1 pt-1 text-sm font-medium text-gray-900"
                        >Deudas</a
                    > -->
                </div>
            </div>
        </div>
    </div>
</nav>
